/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-family: YakuHanJP_Noto, "Noto Sans JP";
  font-weight: 500;
  color: #3c3c3c;
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.sp {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: 0.3s;
  &:visited {
    color: $font-color;
  }
  &:hover {
    color: $font-color;
    text-decoration: none;
  }
  &:active {
    color: $font-color;
  }
  &.tel {
    pointer-events: none;
    cursor: default;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}
/*　Retina対応時のCSS↓　*/
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #444444;
  width: 100%;
  height: 120px;
  .header_inner{
    height: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 30px 15px;
    .logo{
      width: 244px;
      @include is-max(1280px){
        width: 184px;
      }
    }
    .nav{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      &--list{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        order: 2;
      }
      &--item{
        line-height: 1.2;
        &:nth-child(1),&:nth-child(2){
          border-right: 1px solid #696969;
          padding: 0 18px 0 0;
          margin: 0 18px 0 0;
          @include is-max(1320px){
            padding: 0 10px 0 0;
            margin: 0 10px 0 0;
          }
          @include is-max(1050px){
            padding: 0 7px 0 0;
            margin: 0 7px 0 0;
          }
        }
        &:nth-child(3){
          margin: 0 24px 0 0;
          @include is-max(1320px){
            margin: 0 14px 0 0;
          }
          @include is-max(1050px){
            margin: 0 7px 0 0;
          }
        }
        &:nth-child(n+4){
          margin: 0 4px 0 0;
        }
        &:nth-child(6){
          .nav--link--linear-bg{
            cursor: default;
            pointer-events: none;
          }
        }
      }
      &--link{
        display: inline-block;
        box-sizing: border-box;
        color: #fff;
        letter-spacing: .08em;
        font-weight: 600;
        &:hover{
          opacity: .7;
        }
        @include is-max(1320px){
          font-size: 13px;
        }
        @include is-max(1050px){
          font-size: 11px;
        }
        &--linear-bg{ 
          font-size: 15px;
          border-radius: 5px;
          padding: 11px 14px 12px;
          background: rgb(253,117,68);
          background: linear-gradient(90deg, rgba(253,117,68,1) 5%, rgba(255,150,113,1) 50%, rgba(253,117,68,1) 95%);
          background-size: 100% 100%;
          transition: .3s ease;
          font-weight: 600;
          &:hover{
            opacity: 1;
            background-size: 200% 100%;
            animation: cta-btn 2s ease-in-out .5s infinite alternate;
          }
          @include is-max(1320px){
            font-size: 11px;
          }
          @include is-max(1280px){
            padding: 11px 10px 12px;
          }
          @include is-max(920px){
            padding: 11px 5px 12px;
          }
        }
      }
      .tel{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0 7px;
        padding: 0 20px 0 0;
        p{
          &:first-child{
            font-weight: 500;
            font-size: 10.60px;
            letter-spacing: -.025em;
            color: #fff;
            line-height: 11.55px;
            text-align: center;
            background-color: #636363;
            border-radius: 50%;
            padding: 7px 7px 9px;
            margin: 0 7px 0 0;
          }
          &:last-child{
            color: #fff;
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
            margin: 0 0 0 7px;
          }
          span{
            font-size: 16px;
          }
        }
        .tel-num{
          display: flex;
          align-items: center;
          @include IBM_Plex(500);
          font-size: 34px;
          color: #fff;
          img{
            width: 25px;
            margin: 4px 6px 0 0;
          }
        }
      }
    }
  }
}

/* footer
==================================*/
footer {
  background: #343434;
  padding: 50px 0 35px;
  .logo{
    width: 101px;
    margin: 0 auto 35px;
  }
  .copy{
    text-align: center;
    small{
      @include IBM_Plex(500);
      font-size: 12px;
      letter-spacing: .03em;
      color: #fff;
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 170px;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 58px;
    height: 58px;
    border-radius: 50px;
    background-color: #474747;
    @include IBM_Plex(500);
    font-size: 13px;
    letter-spacing: .08em;
    color: #fff;
    &::before{
      content: "";
      display: block;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 9px solid #fff;
      margin: 0 0 5px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
