/*==================================
  Top
==================================*/
#Top main {
  margin: 400px 0 0;
  .menu{
    background-color: #fff;
    padding: 45px 0 50px;
    .container{
      .content{
        .p-head{
          margin: 0 0 35px;
          &--lg{
            letter-spacing: .2em;
          }
        }
        .row{
          justify-content: space-between;
          .col{
            position: relative;
            width: 100%;
            padding: 0 17.5px 8px;
            background-color: #f6f1eb;
            &:not(:last-child){
              margin: 0 0 30px;
            }
            h4{
              font-weight: 700;
              font-size: 20px;
              letter-spacing: .1em;
              color: #fd7544;
              text-align: center;
              margin: -10px 0 10px;
            }
            .price-row{
              &--col{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0 15px 8px;
                &:not(:last-child){
                  margin: 0 0 7px;
                  border-bottom: 1px solid #e2d8cd;
                }
                .name{
                  font-size: 16px;
                  letter-spacing: .05em;
                } 
                .price{
                  @include IBM_Plex(500);
                  font-size: 16px;
                  letter-spacing: .05em;
                }
              }
            }
          }
        }
      }
    }
  }
  .location{
    background-color: #f6f1ea;
    padding: 0 0 50px;
    .container{
      .content{
        position: relative;
        z-index: 2;
        background-color: #ffffff;
        box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.41);
        padding: 43px 0 25px;
        &:first-child{
          margin: -30px 0 32px;
        }
        .row{
          padding: 0 15px;
          justify-content: space-between;
          margin: 25px 0 0;
          &:nth-child(2){
            align-items: center;
          }
          .col{
            width: 100%;
            &:first-child{
              order: 2;
            }
            &:last-child{
              order: 1;
            }
            table{
              border: 1px solid #d7d7d7;
              width: 100%;
              margin: 20px 0 0;
              tr{
                display: flex;
                flex-wrap: wrap;
                &:not(:last-child){
                  border-bottom: 1px solid #d7d7d7;
                }
                th{
                  width: 100px;
                  background-color: #343434;
                  letter-spacing: .05em;
                  color: #fff;
                  text-align: left;
                  padding: 12px 7px;
                  font-weight: 500;
                }
                td{
                  width: calc(100% - 100px);
                  letter-spacing: .05em;
                  text-align: left;
                  padding: 12px 7px;
                  a{
                    color: #3c3c3c;
                  }
                }
              }
            }
            h4{
              background-color: #343434;
              font-weight: 900;
              font-size: 16px;
              letter-spacing: .06em;
              color: #fff;
              text-align: center;
              padding: 12px 0;
            }
            .img-wrap{
              border: 1px solid #d7d7d7;
              border-top: none;
              padding: 15px 45px;
            }
            iframe{
              height: 220px;
              margin: 20px 0 0;
            }
          }
        }
        
        .cta-wrap{
          padding: 0 15px;
          margin: 20px 0 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          &__item{
            &:nth-child(1){
              width: 100%;
              margin: 0 0 10px;
              .cta-wrap__link{
                background: rgb(253,117,68);
                background: linear-gradient(90deg, rgba(253,117,68,1) 5%, rgba(255,150,113,1) 50%, rgba(253,117,68,1) 95%);
              }
            }
            &:nth-child(2){
              width: 49.5%;
            }
            &:nth-child(3){
              width: 49.5%;
              .cta-wrap__link{
                @include IBM_Plex(500);
              }
            }
          }
          &__link{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            border-radius: 2px;
            font-weight: 700;
            font-size: 16px;
            color: #fff;
            letter-spacing: .02em;
            background: rgb(107,107,107);
            background: linear-gradient(90deg, rgba(107,107,107,1) 1%, rgba(148,148,148,1) 50%, rgba(107,107,107,1) 99%);
            &::after{
              content: "";
              display: block;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 9px solid #fff;
              position: absolute;
              top: 50%;
              right: 10px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
            }
            img{
              width: 17px;
              margin: 0 4px 0 0;
            }
          }
        }
      }
    }
  }
}
